@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

body {
    font-family: 'Acme', sans-serif;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}

h1 {
  font-size: 25px;
  color: white;
  width: 250px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 15px;
}

.player {
  border: 2px black solid;
  text-align: center;
  line-height: 40%;
}

.dark-mode {
    color: #fff;
    background-color: #313843;
  }
  
.dark-mode__toggle {
    background:red;
    border-radius: 50px;
    border: 1px solid black;
    height: 20px;
    position: relative;
    width: 40px;
  }
  
.toggle {
    background: white;
    border-radius: 50px;
    height: 20px;
    left: 0;
    position: absolute;
    transition: 0.2s;
    width: 20px;
  }
  
.toggled {
    margin-left: 20px;
  }
  
.navbar {
    background-color: darkblue;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    height: 65px;
    justify-content: space-between;
    padding: 0 5%;
    width: 90%;
  }